@import url('https://fonts.cdnfonts.com/css/more-sugar');

body {
    font-family: Arial, sans-serif;
    background-color: #bbbbbb;
    margin: 0;
    padding: 20px;
    font-family: 'More Sugar', sans-serif;
    font-size: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    display: flex;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 4px;
}


@media (max-width: 100px) {
    .container {
        padding: 15px;
    }

    h2 {
        font-size: 1.5em;
    }

    button {
        font-size: 10px;
    }

    img {
        width: 100px;
    }
}

.img {
    width: 120px;
    border-radius: 100%;
    margin: 0%;
}

.topo {
    display: flex;
    margin: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #79e91e;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'More Sugar', sans-serif;
    font-size: 20px;
}

button:hover {
    background-color: #b7ff7e;
}

.social-login {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.google-btn,
.apple-btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'More Sugar', sans-serif;
}

.google-btn {
    background-color: #db4437;
    color: white;
}

.google-btn:hover {
    background-color: #c13525;
}

.apple-btn {
    background-color: #000;
    color: white;
    font-family: 'More Sugar', sans-serif;
}

.apple-btn:hover {
    background-color: #333;
}